$gray-dark: #555;
$gray: #666;
$brand-primary: green;
$brand-success: green;
$brand-info: green;
$brand-warning: green;
$brand-danger: green;
$brand-inverse: green;
$enable-shadows: true;
$body-bg: #AAA;
$body-color: #666;
$navbar-padding-x: $spacer*2;
$navbar-padding-y: $spacer*2;
$breadcrumb-bg: pink;