<section class="container py-2">
    <h1>Lean bootstrap</h1>

    <section>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid assumenda ex magni natus provident. Corporis deleniti error et explicabo iste neque, obcaecati porro quae quam quasi quos similique temporibus totam!
    </section>
</section>
