<div class="container">
    <div class="py-3">
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-triangle"></i>
            <strong>Oh snap!</strong> {{message}}
        </div>
    </div>
</div>
