<section class="py-3 container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the playground!</h1>
        <p class="lead">
            Oh Hi! Didn't see you there. Welcome to the playground. Here you can play with bootstrap.
            Here, above this <strong>jumbotron</strong> we have a menu (<strong>navbar</strong>). You can click around to all the bootstrap elements we have set up.
        </p>
        <p>Now it is up to you, lets explain!</p>
        <a href="#variables" class="btn btn-primary btn-lg">Lets go!</a> (this will just scoll you down &#128512;)
    </div>
    <div id="variables">
        <h3>Variables</h3>
        <p>
            So on a desktop you have a list of <strong>variables</strong>, when on mobile just hit the <strong>variables</strong>.
        </p>
        <p class="lead">Much variables!</p>
        <p>
            So you have lost your ways here, cool but that doesn't matter. We will highlight some object you can check in titles and <strong>bold</strong> texts!
            Like that <strong>jumbotron</strong> above.
        </p>
        <h4>Try!</h4>
        <p>
            In the filter, type in "jumbotron". Here you have some variables you can use in the scss of bootstrap, just change them.
        </p>
        <h4>Error!</h4>
        <p>
            If you types something wrong, we don't have checks on the fields, we will show an error message on the bottom.
            If you don't know what you did wrong, just reload. It will reload to the last time it did it right.
        </p>
        <h4>Enjoy!</h4>
        <p>
            And if you hit the code icon above this frame, you can just check all the variables. The ones commented with // altered ....
            you altered and can use in your own projects!
        </p>
        <p class="lead">
            Now just play, and have fun.
        </p>
        <br><br><br><br>
    </div>
</section>