<div class="container">
    <h1>Page with a carousel</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="embed-responsive embed-responsive-16by9" style="background-image: url(https://images.unsplash.com/photo-1434396505260-9ec0d6491795?dpr=1&auto=compress,format&fit=crop&w=1200&h=600&q=80&cs=tinysrgb&crop=&bg=);background-size: cover">
                    <div class="embed-responsive-item"></div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>This is a caption</h3>
                    <p>Cool, subtitle on a caption</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="embed-responsive embed-responsive-16by9" style="background-image: url(https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?dpr=1&auto=compress,format&fit=crop&w=1200&h=600&q=80&cs=tinysrgb&crop=&bg=);background-size: cover">
                    <div class="embed-responsive-item"></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="embed-responsive embed-responsive-16by9" style="background-image: url(https://images.unsplash.com/photo-1449023859676-22e61b0c0695?dpr=1&auto=compress,format&fit=crop&w=1200&h=600&q=80&cs=tinysrgb&crop=&bg=);background-size: cover">
                    <div class="embed-responsive-item"></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>